.btn {
  padding: 0.5em 1em;
  font-size: 1.375rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 0.525em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}

.btn-primary {
  background: #155DFC;
  background: linear-gradient(
    90deg,
    #155DFC 0%,
    #193CB8 100%
  );
  color: white;
  transition: background 0.2s ease-in-out;
}

.btn-primary:hover {
  background: #888787;
  background: linear-gradient(
    90deg,
    rgb(172, 189, 202) 0%,
    rgb(97, 95, 95) 100%
  );
}

.btn-blue{
  color: #fff;
  background-color: #2B7FFF;
}

.btn-blue:hover{
  background-color: #193CB8;
}

.btn-outline {
  color: #101828;
  border-width: 1px;
  border-color: #D1D5DC;
  background-color: white;
  cursor: pointer;
}

.btn-outline:hover {
  background-color: #1b1b1b;
  color: white;
} 

.btn-neutral {
  background-color: white;
  color: #3c3b3b;
  border-width: 1px;
  border-color: #f0f0f0;
}

.btn-neutral:hover {
  background-color: #1b1b1b;
  color: white;
}