.btn {
  padding: 0.5em 1.4em;
  font-size: 1.375rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 0.625em;
}

.btn-primary {
  background: #2a449b;
  background: linear-gradient(
    90deg,
    rgb(42, 70, 160) 21%,
    rgb(29, 65, 120) 79%,
    rgba(25, 59, 107, 1) 100%
  );
  color: white;
  transition: background 0.2s ease-in-out;
}

.btn-primary:hover {
  background: #1b1b1b;
  background: linear-gradient(
    90deg,
    rgba(27, 27, 27, 1) 0%,
    rgba(27, 27, 27, 1) 100%
  );
}

.btn-outline {
  color: #1b1b1b;
  border-width: 1px;
  border-color: #1b1b1b;
  background-color: white;
  cursor: pointer;
}

.btn-outline:hover {
  background-color: #1b1b1b;
  color: white;
} 

.btn-neutral {
  background-color: #f0f0f0;
  color: #3c3b3b;
  border-width: 1px;
  border-color: #f0f0f0;
}

.btn-neutral:hover {
  background-color: #1b1b1b;
  color: white;
}