@import "tailwindcss";


@theme {
  --color-success-10: #e5f5ed;
  --color-success-90: #19a45b;
  --color-success-100: #009a49;
  --color-warning-500: #ff8800;
  --color-black-dorcas: #090f1c;
  --color-tob-110: #2a2a2a;
  --color-grey-soft: #fafafb;
  --color-primary: #155DFC;
  --color-primary-deep: #193CB8;
  --color-primary-text: #364153;
  --color-secondary-bg: #eff6ff;
  --color-primary-dark: #101828;
  --color-white-fade: #D1D5DC;
}

.containers{
  @apply container mx-auto px-4 md:px-8;
}

@layer base {
  html {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body {
    font-family: "Inter", system-ui, sans-serif;
    width: 100%;
    max-width: 1440px;
  }

  html,
  body {
    overflow-x: hidden;
    width: 100%;
  }
}

/* Utility classes */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  .dropdown-content-width-full {
    width: var(--radix-dropdown-menu-trigger-width);
    max-height: var(--radix-dropdown-menu-content-available-height);
  }
}