@import "tailwindcss";

/* Custom component classes */
@layer components {
  .btn-primary {
    padding: 12px 24px;
    background: #2a449b;
    background: linear-gradient(90deg,rgba(42, 68, 155, 1) 21%, rgba(26, 59, 109, 1) 79%, rgba(25, 59, 107, 1) 90%);
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .btn-primary:hover {
    background: #3d3d3d;
  }

  .btn-outline {
    padding: 12px 24px;
    color: #1b1b1b;
    border-width: 1px;
    border-color: #1b1b1b;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
  }
}

@theme {
  --color-success-10: #e5f5ed;
  --color-success-90: #19a45b;
  --color-success-100: #009a49;
  --color-warning-500: #ff8800;
  --color-black-dorcas: #090f1c;
  --color-tob-110: #2a2a2a;
  --color-grey-soft: #fafafb;
}

/* Base styles */
@layer base {
  html {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body {
    font-family: "Inter", system-ui, sans-serif;
    width: 100%;
    max-width: 1440px;
  }

  html,
  body {
    overflow-x: hidden;
    width: 100%;
  }
}

/* Utility classes */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  .dropdown-content-width-full {
    width: var(--radix-dropdown-menu-trigger-width);
    max-height: var(--radix-dropdown-menu-content-available-height);
  }
}